.CalendarDay__default:hover {
  background: orange;
  border: 1px solid #e4e7e7;
  color: inherit
}
.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
 
}

.CalendarDay__selected {

  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #82e0aa;
}