.profile-content-container {
  // padding: 0px 100px;
  margin-top: 100px;

  .profile-title-banner{
    padding: 24px 150px;

    .profile-title > h1{
      margin: 0px;
    }
    .profile-title-sub{
      // display: flex;
      // flex-wrap: wrap; 
      font-size: 16px;
      .profile-rate {
        // margin-top: 4px;
        .star{
          width: 16px;
          height: 16px;
          fill: currentColor;
          padding-right: 4px;
        }
      }
      .divider {
        margin: 0 8px;
      }
      .profile-city {

      }
      
    }
  }

  .profile-photo-container{
    padding: 0 150px;
    // padding-left: 80px !important;
    // padding-right: 80px;
    display: flex;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;

    .profile-photo-sub-container {
      max-height: calc(66vh - 64px) !important;
      overflow-y: hidden !important;
      width: 100%;
      position: relative; 
      display:flex;
      min-height: 300px;
      // display: flex;

      .seg1 {
        display: inline-block;
        vertical-align: bottom;
        height: 100% ;
        width: 50%;
        // left: 0px;
        // top: 0px;
        // position: absolute;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          overflow: hidden;
          object-fit: cover;
          vertical-align: bottom;
          transition: all .5s;
          // overflow: hidden;

          &:hover{
            transform: scale(1.05);
            // overflow: hidden;
            
          }
        }
      }

      .seg2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        // padding-left: 8px;
        right: 0px;
        top: 0px;
        overflow: hidden;
        // position: absolute;
          
        img {
          height: 50%;
          width: 100%;
          object-fit: cover;
          vertical-align: bottom;
          transition: all .5s;
          overflow: hidden;
          &:hover{
            transform: scale(1.05);
            overflow: hidden;
            
          }
        }
      }

      .seg3 {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        // padding-left: 8px;
        right: 0px;
        top: 0px;
        overflow: hidden;
        // position: absolute;
          img {
          height: 50%;
          object-fit: cover;
          vertical-align: bottom;
          transition: all .5s;
          overflow: hidden;

          &:hover{
            transform: scale(1.05);
          
            
          }
        }

      }
    }
  }
}