.profile-content-container {
  // padding: 0px 100px;

  .profile-title-banner{
    padding: 24px 150px;

    .profile-title > h1{
      margin: 0px;
    }
    .profile-title-sub{
      // display: flex;
      // flex-wrap: wrap; 
      .profile-rate {
        // margin-top: 4px;
        .star{
          width: 12px;
          height: 12px;
          fill: currentColor;
          padding-right: 4px;
        }
      }
      .divider {
        margin: 0 8px;
      }
      .profile-city {

      }
      
    }
  }

  .profile-photo-container{
    padding: 0 150px;
    // padding-left: 80px !important;
    // padding-right: 80px;
    display: flex;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;

    .profile-photo-sub-container {
      max-height: calc(66vh - 64px) !important;
      overflow-y: hidden !important;
      position: relative; 
      min-height: 300px !important;
      // display: flex;

      .seg1 {
        display: inline-block;
        vertical-align: bottom;
        height: 100% !important;
        width: 50% !important;
        left: 0px !important;
        top: 0px !important;
        position: absolute !important;

        img {
          height: 100%;
          overflow: hidden;
          object-fit: cover;
          vertical-align: bottom;
        }
      }

      .sesg2 {
        display: flex;
        flex-direction: column !important;
        height: 100% !important;
        width: 25% !important;
        padding-left: 8px !important;
        right: 0px !important;
        top: 0px !important;
        position: absolute !important;
          
        img {
          height: 50%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }

      .seg3 {
        display: flex;
        flex-direction: column !important;
        height: 100% !important;
        width: 25% !important;
        padding-left: 8px !important;
        right: 0px !important;
        top: 0px !important;
        position: absolute !important;
          img {
          height: 50%;
          object-fit: cover;
          vertical-align: bottom;
        }

      }
    }
  }
}