button {
  padding: 0;
}
.nav-bar, .nav-left, .nav-right {
  height: 75px;
}

.nav-bar {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  justify-content: space-between;
}

.nav-left{
  width: 500px;
}
.nav-left-contents {
  padding: 25px;
  padding-right: 30px;
  padding: 23px 30px 30px 25px;
  display: flex;
  justify-content: space-between;


  /* padding: 0px 50px */
}

.nav-contents{
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  /* width: 60px; */
  padding: 0;
  color: black;
  text-decoration: none;
}

.nav-contents:hover {
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid black;
}

.logo-link {
  margin-right: 100px;
}

.logo{
  padding: 20px;
}