.search {
  padding: 16px;
  // vertical-align: middle;
  height: fit-content;
}


.search-bar-container{
  // margin-top: 10px;
  // margin-left: 20px;
  padding: 14px 0;
  transition: 200ms ease-in;
  width: 460px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition-property: box-shadow 200ms ease-in !important;
  border-radius: 4px;
  height: 48px;
  box-sizing: border-box;
  // padding-top: 10px;
  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 12px rgba(26, 26, 29, 0.09)
  }
  .search-bar-container2 {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    padding-right: 4px;
    position: relative;

    .search-contents{
    display: table;
    table-layout: nowrap;

      .search-icon-container {
        padding-top: 3px !important;
        padding-left: 5px !important;
        padding-right: 10px !important;
        width: 39px !important;
        display: table-cell !important;
        height: 100% !important;
        vertical-align: middle !important;

        .search-icon {
          height: 18px;
          width: 18px;
          display: block;
          fill: currentcolor;
        }
      }

      .search-input-container {
        display: table-cell !important;
        height: 100% !important;
        vertical-align: middle !important;
        width: 100% !important;

        .search-input-outdiv {
          overflow: hidden !important;
          position: relative !important;

          .search-input {
            background-color: transparent !important;
            border: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            width: 100% !important;
            text-overflow: ellipsis !important;
            font-weight: 800 !important;
            font-size: 17px !important;
            color: #484848 !important;
          }
        }
      }
    }
  }

  
  
}




.search-input {
  // padding: 14px 0px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: lighten(black, 50%);
  background: transparent;
}