
body, button {
  color: #484848;
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Overpass', sans-serif; */
  font-size: 14px;
}

main, article, header, nav, aside, details, figcaption, figure, footer, section, div {
    display: block;
}