body{
  height: 100%;
    width: 100%;
    background: white;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: -1;
}
body, button {
  color: #484848;
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Asap', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Overpass', sans-serif; */
  font-size: 14px;
}
div:hover {
  outline: none;
}
